include ../speech-bubble/speech-bubble
include ../button/button

mixin message-form(o)
  -
    o = o || {};
    o.avatar = typeof o.avatar === "string" ? o.avatar : "./assets/no-avatar.png";
    o.buttonColor = typeof o.color === "string" ? o.color : undefined;
    o.color = typeof o.color === "string" ? "message-form_" + o.color : undefined;

  .message-form(class=o.color)
    .message-form__name=o.name
    .message-form__container
      .message-form__row
        .message-form__chat-wrapper
          button.message-form__chat(type="button")
        .message-form__avatar-wrapper
          img.message-form__avatar(src=o.avatar, alt="avatar")
        .message-form__camera-wrapper
          button.message-form__camera(type="button")
      .message-form__speech-bubble
        +speech-bubble({color: "white", direction: "top"})
          | #{o.message}
      textarea.message-form__textarea
      .message-form__button
        +button({text: o.buttonText, color: o.buttonColor})
