mixin dropdown(options)
  -
    options = options || {};

    const { color } = options;
    let { data, placeholder } = options;

    let className = "dropdown js-dropdown";
    className += color ? ` dropdown_color_${color}` : "";

    data = data || [];
    placeholder = placeholder || "Choose An Option";

  div(class=className, data-placeholder=placeholder)
    select
      each dataObject in data
        option=dataObject
