mixin dropdown(o)
  -
    o = o || {};
    o.data = o.data || [];
    o.placeholder = o.placeholder || "Choose An Option";
    o.color = typeof o.color === "string" ? "dropdown_" + o.color : undefined;

  .dropdown.js-dropdown(class=o.color, data-placeholder=o.placeholder)
    select
      each d in o.data
        option=d
