- const getFullClassname = htmlWebpackPlugin.options.functions.getFullClassname;

mixin dropdown(options)
  -
    options = options || {};
    options.options = options.options || [];
    options.placeholder = options.placeholder || 'Choose An Option';
    options.emptyMsg = options.emptyMsg || 'No results matched your keyword';

  select(
    class=getFullClassname('dropdown', options.classname, options.modes),
    data-placeholder=options.placeholder,
    data-emptyMsg=options.emptyMsg
  )
    each o in options.options
      option=o
