mixin youtube-video-player(o)
  -
    o = o || {};
    o.id = typeof o.id === "string" ? 'https://www.youtube.com/embed/' + o.id + "?rel=0" : undefined;

  iframe.youtube-video-player(
    src=o.id,
    frameborder="0",
    allow="autoplay; encrypted-media",
    allowfullscreen
  )
