mixin youtube-video-player(options)
  -
    options = options || {};
    options.id = typeof options.id === "string" ? 'https://www.youtube.com/embed/' + options.id + "?rel=0" : undefined;

  iframe.youtube-video-player(
    src=options.id,
    frameborder="0",
    allow="autoplay; encrypted-media",
    allowfullscreen
  )
