mixin youtube-video-player(options)
  -
    options = options || {};

    const { id } = options;

    const src = id ? `https://www.youtube.com/embed/${id}?rel=0` : undefined;

  iframe.youtube-video-player(
    src=src,
    frameborder="0",
    allow="autoplay; encrypted-media",
    allowfullscreen
  )
