$color-gray = #e5e5e5
$color-dark-gray = #4f4f4f

.input
  width 100%
  color #777777
  background-color $color-gray
  border 0.25rem solid #fff
  border-radius 0.25rem
  height 2.833333333rem
  box-sizing border-box
  padding 0
  padding-left 1rem
  font-size 1rem

  &:focus
    box-shadow 0 0 0.333333333rem $color-dark-gray
    outline none
