html
  $font-size = 12px

  color #000
  background-color #fff
  font-size $font-size
  font-family "Lato", Arial, sans-serif

  @media only screen and (max-width: 480px)
    font-size $font-size * 0.5

  @media only screen and (min-width: 480px) and (max-width: 720px)
    font-size $font-size * 0.6

.main-wrapper
  min-width 26.66666666rem
  max-width 58.33333333rem
  margin 0 auto
  display flex
  flex-direction column
  align-items center

  &__buttons
    width 67%
    margin-top 4rem

  &__arrow-buttons
    width 60%
    margin-top 4.75rem

  &__percentages-pie-chart
    width 90%
    margin-top 3.8rem

  &__sliders
    width 86.2%
    margin-top 2rem

  &__stages
    width 85%
    margin-top 2.35rem

  &__form-elements
    width 86%
    margin-top 4rem

  &__search-dropdown-user-profile
    width 85%
    margin-top 5.5rem

  &__news-events
    width 85%
    margin-top 7.7rem

  &__location
    width 84.5%
    margin-top 4rem

  &__calendar-messaging
    width 85%
    margin-top 4.1rem

  &__video
    width 85%
    margin-top 4.4rem

.title
  margin 0
  color #4f4f4f
  text-align center
  text-transform uppercase
  font-size 1.5rem
  font-weight bold
  word-spacing -0.1rem
  letter-spacing 0.1rem

.buttons
  display flex
  flex-direction column

  &__title-wrapper
    margin-bottom 5.9rem

  &__row
    display flex
    justify-content space-between
    align-items flex-end

  &__row:not(:last-child)
    margin-bottom 1.75rem

  &__button-wrapper
    width 10rem

    &_small
      width 6.7rem

.arrow-buttons
  &__title-wrapper
    margin-bottom 3rem

  &__container
    display flex
    justify-content space-between

.percentages-pie-chart
  &__title-wrapper
    margin-bottom 1.4rem

  &__container
    display flex

  &__percentage-circle-wrapper
    width 9.5rem
    height 9.5rem

  &__percentage-circle-wrapper:nth-child(3)
    margin-left 1.5rem

  &__percentage-circle-wrapper:nth-child(4)
    margin-left 1.2rem

  &__pie-chart-wrapper
    width 9rem
    height 9rem
    margin-left 1.3rem

.sliders
  &__title-wrapper
    margin-bottom 1.5rem

  &__container
    display flex

  &__left-slider-wrapper, &__right-slider-wrapper
    width 22.4rem

  &__left-slider-wrapper
    margin-right 5rem

.stages
  &__title-wrapper
    margin-bottom 2rem

.form-elements
  &__title-wrapper
    margin-bottom 3.9rem

  &__container
    display flex

    @media only screen and (max-width: 400px)
      flex-direction column
      align-items center

  &__form
    width 24.6rem
    margin-right 8rem

    @media only screen and (max-width: 400px)
      margin-right 0
      margin-bottom 5rem

  &__form-row:not(:last-child)
    margin-bottom 0.5rem

  &__form-row:nth-child(1), &__form-row:nth-child(2)
    display flex
    align-items center

    .input
      width 18rem

    .input:valid ~ ^[0]__failed-info
      display none

    .input:invalid ~ ^[0]__failed-info
      display block

    .input:invalid ~ ^[0]__success-info
      display none

  &__form-row:last-child
    display flex
    justify-content flex-end

  &__success-info, &__failed-info
    flex-grow 1
    margin 0 0.4rem

  &__speech-bubble-content-wrapper
    color #fff
    text-align center
    padding 0.6rem 0
    text-transform uppercase
    font-size 0.9rem
    font-weight bold

  &__button-wrapper
    width 9.8rem
    margin-right 0.3rem

  &__toggles
    margin-bottom 2.8rem

    @media only screen and (max-width: 400px)
      margin-bottom 5rem

  &__toggles, &__tick-boxes
    width 11rem

  &__toggles-title-wrapper, &__tick-boxes-title-wrapper
    margin-bottom 2.5rem

  &__toggles-container, &__tick-boxes-container
    display flex
    justify-content space-between

  &__tick-boxes-container
    padding 0 3.3rem 0 2.3rem

.search-dropdown-user-profile
  display flex
  justify-content space-between

  @media only screen and (max-width: 400px)
    flex-direction column
    align-items center

  &__search-dropdown-title-wrapper
    margin-bottom 1.7rem
    padding-right 0.8rem

  &__user-profile-title-wrapper
    margin-bottom 2.5rem
    padding-right 1.5rem

  &__search-dropdown
    width 24rem

  &__user-profile
    width 22.6rem
    padding-right 0.2rem

    @media only screen and (max-width: 400px)
      margin-top 5rem
      padding-right 0

  &__search-dropdown-row:not(:last-child)
    margin-bottom 1.4rem

  &__user-profile-row:not(:last-child)
    margin-bottom 2.1rem

.news-events
  &__title-wrapper
    margin-bottom 2.8rem

  &__container
    display flex
    justify-content space-between

    @media only screen and (max-width: 400px)
      flex-direction column
      align-items center

  &__item-wrapper
    width 24rem

  &__item-wrapper:last-child
    @media only screen and (max-width: 400px)
      margin-top 3rem

.location
  &__title-wrapper
    margin-bottom 2.6rem

  &__container
    height 22.5rem

.calendar-messaging
  &__calendar-title-wrapper, &__messaging-title-wrapper
    margin-bottom 2.2rem

  &__calendar-title-wrapper
    padding-right 0.5rem

  &__messaging-title-wrapper
    padding-right 0.9rem

  &__container
    display flex
    justify-content space-between

    @media only screen and (max-width: 400px)
      flex-direction column
      align-items center

  &__calendar-wrapper
    width 23.3rem

  &__message-box-wrapper
    width 24rem

    @media only screen and (max-width: 400px)
      margin-top 3rem

.video
  &__title-wrapper
    margin-bottom 1.85rem
