doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content="ui kit")
    meta(name="description", content="Набор элементов для создания сайта.")
    link(rel="shortcut icon" type="image/x-icon" href="./assets/favicons/favicon.ico")
    title UI Kit
  body
    include ../../components/ui-kit/buttons/buttons
    include ../../components/ui-kit/arrow-buttons/arrow-buttons
    include ../../components/ui-kit/percentages-pie-chart/percentages-pie-chart
    include ../../components/ui-kit/sliders/sliders
    include ../../components/ui-kit/stages/stages
    include ../../components/ui-kit/form-elements/form-elements
    include ../../components/ui-kit/search-dropdown-user-profile/search-dropdown-user-profile
    include ../../components/ui-kit/news-events/news-events
    include ../../components/ui-kit/location/location
    include ../../components/ui-kit/calendar-messaging/calendar-messaging
    include ../../components/ui-kit/video/video

    .main-wrapper

      .main-wrapper__buttons
        +buttons()

      .main-wrapper__arrow-buttons
        +arrow-buttons()

      .main-wrapper__percentages-pie-chart
        +percentages-pie-chart()

      .main-wrapper__sliders
        +sliders()

      .main-wrapper__stages
        +stages()

      .main-wrapper__form-elements
        +form-elements()

      .main-wrapper__search-dropdown-user-profile
        +search-dropdown-user-profile()

      .main-wrapper__news-events
        +news-events()

      .main-wrapper__location
        +location()

      .main-wrapper__calendar-messaging
        +calendar-messaging()

      .main-wrapper__video
        +video()
