mixin progress-tracker(o)
  -
    o = o || {};
    o.stepCount = typeof o.stepCount === "number" ? o.stepCount : 0;
    o.activeStep = typeof o.activeStep === "number" ? o.activeStep : 0;
    o.color = typeof o.color === "string" ? "progress-tracker_" + o.color : undefined;

    if (o.stepCount < 0) {
      o.stepCount = 0;
    }

    if (o.activeStep < 0) {
      o.activeStep = 0;
    } else if (o.activeStep > o.stepCount) {
      o.activeStep = o.stepCount
    }

  .progress-tracker(class=o.color)
    - for (let i = 1; i <= o.activeStep; i++)
    -   if (i !== o.activeStep)
          .progress-tracker__step.progress-tracker__step_complete
            .progress-tracker__marker=i
    -   else
          .progress-tracker__step.progress-tracker__step_active
            .progress-tracker__marker=i

    - for (let i = o.activeStep + 1; i <= o.stepCount; i++)
        .progress-tracker__step
          .progress-tracker__marker=i
