$color-gray = #e5e5e5
$color-diamond = #4eb7a8
$color-red = #e75735

.progress-tracker
  display flex
  justify-content space-between
  margin 5px auto

  &__step
    display flex
    align-items center
    flex 1 1 0

  &__step:last-child
    flex-grow 0

  &__step:not(:last-child)::after
    content ''
    display block
    width 100%
    height 0.416666666rem

  &__marker
    display flex
    justify-content center
    align-items center
    width 2.416666666rem
    height 2.416666666rem
    min-width 2.416666666rem
    color #fff
    background-color $color-gray
    border-radius 50%
    font-size 1.1666rem
    cursor default
    font-weight bold

  &__step::after
    background-color $color-gray

  &__step_complete::after, &__step_complete > &__marker, &__step_active > &__marker
    background-color $color-diamond

  &_red
    & ^[0]__step_complete::after,
    & ^[0]__step_complete > ^[0]__marker,
    & ^[0]__step_active > ^[0]__marker
      background-color $color-red
