$color-diamond = #4EB7A8
$color-red = #E75735
$color-light-diamond = #71C5B9
$color-light-red = #EB785D
$color-dark-diamond = #28A290
$color-dark-red = #BF3E1F

$padding-horizontal = 32.57px
$height = 32px

$padding-horizontal-small = 16.73px
$height-small = 22px

$font-size = 12px
$font-size-small = 10px

set_color(color, light-color, dark-color)
  background-color color
  box-shadow 0 3px dark-color

  &:hover
    background-color light-color
    box-shadow 0 3px color

@keyframes ripple-effect
  to
    opacity 0
    transform scale(2.5)

.btn
  @require '../../fonts/lato'

  set_color($color-diamond, $color-light-diamond, $color-dark-diamond)

  font-family 'Lato'

  position relative
  overflow hidden

  padding 0 $padding-horizontal
  height $height

  font-size $font-size
  font-weight bold
  letter-spacing 0.5px
  text-transform uppercase

  outline none
  border none
  border-radius 2.5px

  cursor pointer
  color #fff

  &:active
    box-shadow none
    transform translateY(3px)

  &__ripple
    animation ripple-effect 0.6s linear
    -webkit-animation ripple-effect 0.6s linear
    -o-animation ripple-effect 0.6s linear
    -moz-animation ripple-effect 0.6s linear
    animation-fill-mode forwards
    -webkit-animation-fill-mode forwards
    -o-animation-fill-mode forwards
    -moz-animation-fill-mode forwards
    background-color rgba(255, 255, 255, 0.75)
    border-radius 50%
    position absolute
    transform scale(0)

.btn_color-red
  set_color($color-red, $color-light-red, $color-dark-red)

.btn_size-small
  padding 0 $padding-horizontal-small
  height $height-small
  font-size $font-size-small
