mixin btn(options)
  -
    options = options || {};
    options.classname = options.classname || '';
    options.modes = options.modes || [];
    options.type = options.type || 'button';

    let modes = '';
    for (let i = 0; i < options.modes.length; i++) {
      modes += 'btn_' + options.modes[i];
      if (i < options.modes.length - 1) {
        modes += ' ';
      }
    }

  button.btn(class=modes + " " + options.classname, type=options.type, value=options.value)=options.text
