- const getFullClassname = htmlWebpackPlugin.options.functions.getFullClassname;

mixin btn(options)
  -
    options = options || {};
    options.type = options.type || 'button';

  button(
    class=getFullClassname('btn', options.classname, options.modes),
    type=options.type,
    value=options.value
  )=options.text
