.order-form
  width 70%
  margin 0 auto

  @media only screen and (max-width: 720px)
    width 90%

  &__input-section
    margin-bottom 2rem

  &__calendar-section
    width 55%
    margin 0 auto 2rem auto

  &__submit-section
    display flex
    flex-direction column
    align-items center

  &__agreement-wrapper
    display flex
    align-items center

  &__text-wrapper
    margin-right 1rem

  &__submit-button-wrapper
    width 12rem
