mixin button(options)
  -
    options = options || {};
    options.color = typeof options.color === "string" ? "button_color_" + options.color : undefined;
    options.size = typeof options.size === "string" ? "button_size_" + options.size : undefined;
    options.padding = typeof options.padding === "string" ? "button_padding_" + options.padding : undefined;
    options.inversed = options.inversed === true ? "button_inversed" : undefined;

  button.button.js-button(
    class=options.color,
    class=options.size,
    class=options.padding,
    class=options.inversed
  )&attributes(options.attr)=options.text
