mixin button(options)
  -
    options = options || {};

    const { color, size, padding, inversed, text, attr } = options;

    let className = "button js-button";
    className += color ? ` button_color_${color}` : "";
    className += size ? ` button_size_${size}` : "";
    className += padding ? ` button_padding_${padding}` : "";
    className += inversed ? " button_inversed" : "";

  button(class=className)&attributes(attr)=text
