mixin button(o)
  -
    o = o || {};
    o.color = typeof o.color === "string" ? "button_" + o.color : undefined;
    o.size = typeof o.size === "string" ? "button_" + o.size : undefined;
    o.padding = typeof o.padding === "string" ? "button_" + o.padding : undefined;
    o.inversed = o.inversed === true ? "button_inversed" : undefined;

  button.button.js-button(class=o.color, class=o.size, class=o.padding, class=o.inversed)&attributes(o.attr)=o.text
