$color-gray = #e5e5e5
$color-dark-gray = #4f4f4f

.feedback-form
  &__row
    display flex
    align-items flex-start
    justify-content space-between

  &__row:last-child
    justify-content flex-end

  &__name, &__email, &__message
    width 100%
    background-color $color-gray
    border none
    border-radius 0.25rem
    padding 0

  &__name:focus, &__email:focus, &__message:focus
    box-shadow 0 0 0.333333333rem $color-dark-gray inset
    outline none

  &__name, &__email
    height 2.333333333rem
    margin 0 0.666666666rem 1rem 0
    padding-left 1rem

  &__speech-bubble-wrapper
    visibility hidden

    &_failed
      visibility visible

      & ^[0]__speech-bubble-content::after
        content "ERROR"

    &_success
      visibility visible

      & ^[0]__speech-bubble-content::after
        content "THANKS!"

  &__speech-bubble-content
    width 6rem
    height 2.333333333rem
    display flex
    justify-content center
    align-items center
    font-size 0.833333333rem

  &__speech-bubble-content::after
    color #fff
    font-weight bold

  &__message
    height 6.5rem
    resize none
    padding 0.833333333rem 0 0 1rem
    margin-bottom 0.833333333rem

  &__message::placeholder
    word-spacing -0.416666666rem

  &__button-wrapper
    width 9.833333333rem
