include ../button/button
include ../speech-bubble/speech-bubble

mixin feedback-form(o)
  -
    o = o || {};
    o.attr = o.attr || {};
    o.nameAttr = o.nameAttr || {};
    o.emailAttr = o.emailAttr || {};
    o.messageAttr = o.messageAttr || {};
    o.buttonAttr = o.buttonAttr || {};
    o.buttonColor = typeof o.color === "string" ? o.color : undefined;
    o.color = typeof o.color === "string" ? "feedback-form_" + o.color : undefined;

  form.feedback-form(class=o.color)&attributes(o.attr)
    .feedback-form__row
      input.feedback-form__name&attributes(o.nameAttr)
      .feedback-form__speech-bubble-wrapper
        +speech-bubble({size: "small"})
          .feedback-form__speech-bubble-content

    .feedback-form__row
      input.feedback-form__email&attributes(o.emailAttr)
      .feedback-form__speech-bubble-wrapper
        +speech-bubble({size: "small"})
          .feedback-form__speech-bubble-content

    .feedback-form__row
      textarea.feedback-form__message&attributes(o.messageAttr)

    .feedback-form__row
      .feedback-form__button-wrapper
        +button({text: o.buttonText, color: o.buttonColor, attr: o.buttonAttr})
