@require '../speech-bubble/speech-bubble.styl'

$color-diamond = #4EB7A8
$color-red = #E75735
$color-gray = #E5E5E5
$color-dark-gray = #4F4F4F

.user-profile
  @require '../../fonts/fonts.styl'

  font-family 'Lato'

  width 267px

  display flex
  justify-content space-between

  &__photo
    width 84px
    height 84px

    border 5px solid $color-gray
    border-radius 50%

  &__info
    width 163px

    padding-top 10px

  &__name, &__job
    color #fff

    text-align center

  &__name
    margin-bottom 3px

    letter-spacing 1px

  &__job
    font-size 10px
    font-weight bold

    letter-spacing 1px

    text-transform uppercase

    margin-bottom 11px

  &__contacts
    display flex
    justify-content space-between

    padding 0 30px

  &__facebook, &__twitter, &__dribbble
    width 25px
    height 25px

    display inline-block

    background-image url('./components/user-profile/contacts-sprite.png')
    background-repeat no-repeat

  &__facebook
    background-position 0 0

  &__twitter
    background-position -25px 0

  &__dribbble
    background-position -50px 0

.user-profile_red
  .user-profile
    &__info
      background-color $color-gray

    &__name
      color $color-red

    &__job
      color $color-dark-gray

    &__facebook, &__twitter, &__dribbble
      background-image url('./components/user-profile/contacts-sprite_red.png')

  .speech-bubble__triangle
    background-color $color-gray
