$color-gray = #e5e5e5

.textarea
  width 100%
  color #777777
  background-color $color-gray
  border 0.25rem solid #fff
  border-radius 0.5rem
  box-sizing border-box
  padding 1.416666666rem
  padding-bottom 2.916666666rem
  margin-bottom 1.083333333rem
  word-spacing -0.3rem
  resize none

  &:focus
    outline none
    box-shadow 0 0 0.166666666rem #000
