@require "../colors"

.textarea
  width 100%
  color #777777
  background-color $gray
  border 0.25rem solid #fff
  border-radius 0.5rem
  box-sizing border-box
  padding 0.9rem 0.4rem 3.9rem 1.3rem
  word-spacing -0.2rem
  resize none
  font-size 1rem

  &:focus
    outline none
    box-shadow 0 0 0.166666666rem #000
