$color-diamond = #4EB7A8
$color-red = #E75735
$color-gray = #E5E5E5

set_color(color)
  background-color color

  .speech-bubble
    &__triangle
      background-color color

.speech-bubble
  set_color($color-diamond)

  border-radius 8px
  position relative

  &__triangle
    width 20px
    height 20px
    border-radius 6px
    position absolute
    left -4px
    top 50%
    transform translateY(-50%) rotate(45deg)

.speech-bubble_color-red
  set_color($color-red)

.speech-bubble_color-gray
  set_color($color-gray)

.speech-bubble_color-white
  set_color(#fff)

.speech-bubble_transform-right
  .speech-bubble
    &__triangle
      left unset
      right -4px

.speech-bubble_transform-top
  .speech-bubble
    &__triangle
      left 50%
      top -4px
      transform translateX(-50%) rotate(45deg)

.speech-bubble_transform-bottom
  .speech-bubble
    &__triangle
      left 50%
      top unset
      bottom -4px
      transform translateX(-50%) rotate(45deg)
