mixin speech-bubble(options)
  -
    options = options || {};

    const { color, size, direction } = options;

    let className = "speech-bubble";
    className += color ? ` speech-bubble_color_${color}` : "";
    className += size ? ` speech-bubble_size_${size}` : "";
    className += direction ? ` speech-bubble_direction_${direction}` : "";

  div(class=className)
    .speech-bubble__triangle
    .speech-bubble__content
      block
