mixin speech-bubble(o)
  -
    o = o || {};
    o.color = typeof o.color === "string" ? "speech-bubble_" + o.color : undefined;
    o.direction = typeof o.direction === "string" ? "speech-bubble_" + o.direction : undefined;

  .speech-bubble(class=o.color, class=o.direction)
    .speech-bubble__triangle
    .speech-bubble__content
      block
