- const getFullClassname = htmlWebpackPlugin.options.functions.getFullClassname;

mixin speech-bubble(options)
  -
    options = options || {};

  div(class=getFullClassname('speech-bubble', options.classname, options.modes))
    .speech-bubble__triangle
    .speech-bubble__content
      block
