mixin speech-bubble(options)
  -
    options = options || {};
    options.color = typeof options.color === "string" ? "speech-bubble_" + options.color : undefined;
    options.size = typeof options.size === "string" ? "speech-bubble_" + options.size : undefined;
    options.direction = typeof options.direction === "string" ? "speech-bubble_" + options.direction : undefined;

  .speech-bubble(class=options.color, class=options.size, class=options.direction)
    .speech-bubble__triangle
    .speech-bubble__content
      block
