$color-gray = #e5e5e5
$color-diamond = #4eb7a8
$color-red = #e75735

.speech-bubble
  background-color $color-diamond
  border-radius 0.666666666rem
  position relative

  &__triangle
    background-color $color-diamond
    width 1.666666666rem
    height 1.666666666rem
    border-radius 0.5rem
    position absolute
    left -0.333333333rem
    top 50%
    transform translateY(-50%) rotate(45deg)

  &_red
    background-color $color-red

    & ^[0]__triangle
      background-color $color-red

  &_gray
    background-color $color-gray

    & ^[0]__triangle
      background-color $color-gray

  &_white
    background-color #fff

    & ^[0]__triangle
      background-color #fff

  &_right
    & ^[0]__triangle
      left unset
      right -0.333333333rem

  &_top
    & ^[0]__triangle
      left 50%
      top -0.333333333rem
      transform translateX(-50%) rotate(45deg)

  &_bottom
    & ^[0]__triangle
      left 50%
      top unset
      bottom -0.333333333rem
      transform translateX(-50%) rotate(45deg)
