$color-light-black = #2c2c2c

.section
  &__title
    font-size 2rem
    text-align center

  &__content
    padding 2rem
    border 0.083333333rem solid black
    border-radius 0.25rem
    box-shadow 1rem 1rem 0 #000

  &_color_light-black
    & ^[0]__content
      background-color $color-light-black
