mixin section(options)
  -
    options = options || {};
    options.color = typeof options.color === "string" ? "section_color_" + options.color : undefined;

  section.section(class=options.color)
    h2.section__title=options.title
    .section__content
      block
