mixin check-box(options)
  -
    options = options || {};
    options.color = typeof options.color === "string" ? "check-box_" + options.color : undefined;
    options.checked = typeof options.checked === "boolean" ? options.checked : undefined;

  label.check-box(class=options.color)
    input.check-box__checkbox(type="checkbox", checked=options.checked)
    span.check-box__pseudo-checkbox
