mixin check-box(o)
  -
    o = o || {};
    o.color = typeof o.color === "string" ? "check-box_" + o.color : undefined;

  label.check-box(class=o.color)
    input.check-box__checkbox(type="checkbox")
    span.check-box__pseudo-checkbox
