mixin check-box(options)
  -
    options = options || {};

    const { color, checked } = options;

    let className = "check-box";
    className += color ? ` check-box_color_${color}` : "";

  label(class=className)
    input.check-box__checkbox(type="checkbox", checked=checked)
    span.check-box__pseudo-checkbox
