.news-events
  &__title-wrapper
    margin-bottom 2.8rem

  &__container
    display flex
    justify-content space-between

    @media only screen and (max-width: 400px)
      flex-direction column
      align-items center

  &__item-wrapper
    width 24rem

  &__item-wrapper:last-child
    @media only screen and (max-width: 400px)
      margin-top 3rem
