extends ../../layouts/main/main.pug

block append head
  meta(name="description", content="Сайт, где вы можете заказать арт портрет в различной стилистике")
  title Главная

block content
  include ../../components/other/section/section
  include ../../components/other/news-and-events/news-and-events
  include ../../components/youtube-video-player/youtube-video-player

  .presentation-section
    +section({title: "Презентация нашего сервиса", color: "light-black"})
      +youtube-video-player({id: "8rzkzZTOSg0"})

  .news-and-events-section
    +section({title: "Новости/События"})
      +news-and-events()
