$diamond = #4eb7a8
$gray = #e5e5e5
$red = #e75735

$dark-diamond = #46ab9d
$dark-gray = #8b8b8b
$dark-red = #d54c2c

$darkest-diamond = #28a290
$darkest-gray = #4f4f4f
$darkest-red = #bf3e1f

$light-black = #2c2c2c
$light-diamond = #71c5b9
$light-gray = #f2f2f2
$light-red = #eb785d
