include ../../user-profile/user-profile
include ../../percentage-circle/percentage-circle
include ../../pie-chart/pie-chart

mixin artist(options)
  -
    options = options || {};

  .artist
    +user-profile(options.userProfile)
    .artist__skill-section
      h2.artist__skill-section-title Навыки
      .artist__skills
        .artist__percentage-circle-wrapper
          +percentage-circle(options.percentageCircle)
        .artist__pie-chart-wrapper
          +pie-chart(options.pieChart)
