.artist
  &__skill-section
    margin-top 3rem

  &__skill-section-title
    text-align center

  &__skills
    display flex
    justify-content center

  &__percentage-circle-wrapper
    width 18rem
    height 18rem

  &__pie-chart-wrapper
    width 18rem
    height 18rem
    display flex
    align-items center
