$color-gray = #e5e5e5
$color-light-gray = #f2f2f2
$color-dark-gray = #8b8b8b
$color-diamond = #4eb7a8
$color-dark-diamond = #3cac9f
$color-red = #e75735
$color-dark-red = #d54c2c

.calendar
  cursor default
  border-radius 0.25rem
  overflow hidden

  .datepicker
    width 100%
    border 0

    &::before, &--day-name, &--cell.-selected-,
    &--cell.-selected-.-current-,
    &--cell.-selected-.-focus-
      background-color $color-diamond

    &--cell
      height unset
      color $color-dark-gray
      background-color $color-light-gray
      border-radius 0
      border-bottom 0.083333333rem solid #fff
      border-right 0.083333333rem solid #fff
      font-size 2rem

    &--cell.-current-
      color $color-diamond

    &--cell.-current-.-selected-
      border-bottom 0.083333333rem solid #fff
      border-right 0.083333333rem solid #fff

    &--cell.-current-.-selected-, &--cell.-selected-
      color #fff

    &--nav
      background-color $color-dark-diamond

    &::before
      content attr(data-date)
      display flex
      justify-content center
      align-items center
      height 11.41666666rem
      color #fff
      font-size 8rem

    &--nav-action
      margin 0 0.833333333rem

      svg
        transform scale(1.5)

        path
          stroke #fff

    &--nav-title
      color #fff
      font-size 2.3rem

    &--nav-title:hover
      background-color unset

    &--days-names
      height 2.833333333rem
      margin 0

    &--day-name
      color #fff

    &--cells-days
      height 20.83333333rem

    &--cells-months
      height 23.66666666rem

    &--cells-years
      height 23.66666666rem

    &--years
      height unset

    &--content
      padding 0

    &--nav
      height 4.5rem
      padding 0
      border 0

    &--nav-action:hover
      background 0

    &--cell:hover
      color unset
      background-color $color-gray

    &--cell-day:nth-child(7n)
      border-right 0

    &--cell-month:nth-child(3n)
      border-right 0

    &--cell-year:nth-child(4n)
      border-right 0

    &--cell.-other-month-
      color #fff

    &--buttons
      padding 0
      padding-left 2rem
      background-color $color-gray

    &--button[data-action="today"]
      -webkit-flex 0
      -ms-flex 0
      flex 0
      justify-content flex-start
      height 5.166666666rem
      color $color-dark-gray
      background-color $color-gray
      font-size 1.3rem
      font-weight bold
      text-transform uppercase
      letter-spacing 0.166666666rem
      border 0
      border-radius 0.25rem

    &--button[data-action="today"]:hover
      background-color unset

  &_red
    .datepicker
      &::before, &--day-name, &--cell.-selected-,
      &--cell.-selected-.-current-,
      &--cell.-selected-.-focus-
        background-color $color-red

      &--cell.-current-
        color $color-red

      &--nav
        background-color $color-dark-red
