mixin calendar(options)
  -
    options = options || {};
    options.color = typeof options.color === "string" ? "calendar_" + options.color : undefined;

  .calendar.js-calendar(class=options.color)
