mixin calendar(options)
  -
    options = options || {};

    const { color } = options;

    let className = "calendar js-calendar";
    className += color ? ` calendar_color_${color}` : "";

  div(class=className)
