include ../info-block/info-block
include ../button/button

mixin event(options)
  -
    options = options || {};

    const { color, image, day, month, title, text, buttonText } = options;

  .event
    +info-block({color: color, image: image})
      .event__content
        .event__date
          .event__day=day
          .event__month=month
        .event__title=title
        .event__text=text
        .event__button-wrapper
          +button({
            inversed: true,
            color: color,
            text: buttonText,
            size: "small",
            padding: "non-padding"
          })
