.tick-box
  &__checkbox
    display none

  &__pseudo-checkbox
    width 27px
    height 27px

    background url('./components/tick-box/tick-box-sprite.png') 0 0

    cursor pointer

    display inline-block

  &__checkbox:checked + &__pseudo-checkbox
    background-position 27px 0
