mixin tick-box(options)
  -
    options = options || {};
    options.classname = options.classname || '';
    options.modes = options.modes || [];

    let modes = '';
    for (let i = 0; i < options.modes.length; i++) {
      modes += 'tick-box_' + options.modes[i];
      if (i < options.modes.length - 1) {
        modes += ' ';
      }
    }

  label.tick-box(class=options.classname + " " + modes)
    input.tick-box__checkbox(type="checkbox")
    .tick-box__pseudo-checkbox
