.tick-box
  &__checkbox
    display none

  &__pseudo-checkbox
    width 27px
    height 27px

    background url('tick-box-sprite.png') no-repeat 0 0

    cursor pointer

    display inline-block

  &__checkbox:checked + &__pseudo-checkbox
    background-position -27px 0

.tick-box_color-red
  .tick-box
    &__pseudo-checkbox
      background-image url('tick-box-sprite_red.png')
