mixin tick-box(o)
  -
    o = o || {};
    o.color = typeof o.color === "string" ? "tick-box_" + o.color : undefined;

  label.tick-box(class=o.color)
    input.tick-box__checkbox(type="checkbox")
    span.tick-box__pseudo-checkbox
