- const getFullClassname = htmlWebpackPlugin.options.functions.getFullClassname;

mixin tick-box(options)
  -
    options = options || {};

  label(class=getFullClassname('tick-box', options.classname, options.modes))
    input.tick-box__checkbox(type="checkbox")
    .tick-box__pseudo-checkbox
