include ../speech-bubble/speech-bubble
include ../textarea/textarea
include ../button/button

mixin message-box(options)
  -
    options = options || {};
    options.avatar = typeof options.avatar === "string" ? options.avatar : "./assets/no-avatar.png";
    options.buttonColor = typeof options.color === "string" ? options.color : undefined;
    options.color = typeof options.color === "string" ? "message-box_color_" + options.color : undefined;

  .message-box(class=options.color)
    .message-box__name=options.name
    .message-box__container
      .message-box__row
        .message-box__chat-wrapper
          button.message-box__chat(type="button")
        .message-box__avatar-wrapper
          img.message-box__avatar(src=options.avatar, alt="avatar")
        .message-box__camera-wrapper
          button.message-box__camera(type="button")
      .message-box__speech-bubble-wrapper
        +speech-bubble({color: "white", direction: "top"})
          .message-box__message
            | #{options.message}
      .message-box__textarea-wrapper
        +textarea()
      .message-box__button-wrapper
        +button({text: options.buttonText, color: options.buttonColor})
