mixin arrow-button(options)
  -
    options = options || {};

    const { color, size, direction, inversed, disabled, attr } = options;

    let className = "arrow-button";
    className += color ? ` arrow-button_color_${color}` : "";
    className += size ? ` arrow-button_size_${size}` : "";
    className += direction ? ` arrow-button_direction_${direction}` : "";
    className += inversed ? " arrow-button_inversed" : "";
    className += disabled ? " arrow-button_disabled" : "";

  button(class=className)&attributes(attr)
    span.arrow-button__triangle
