@require "../colors"

.info-block
  height 100%
  background-color $gray
  border-radius 0.25rem
  color #fff
  overflow hidden
  position relative

  &__image
    width 100%
    height 100%
    object-fit cover
    position absolute

  &__content
    width 67.014%
    height 100%
    background-color $diamond
    z-index 1
    position relative
    left 33%

  &_color_red
    & ^[0]__content
      background-color $red
