mixin info-block(o)
  -
    o = o || {};
    o.image = typeof o.image === "string" ? o.image : "./assets/no-image.png";
    o.color = typeof o.color === "string" ? "info-block_" + o.color : undefined;

  .info-block(class=o.color)
    img.info-block__image(src=o.image, alt="image")
    .info-block__content
      block
