mixin info-block(options)
  -
    options = options || {};
    options.classname = options.classname || '';
    options.modes = options.modes || [];

    let imgStyle = '';
    if (options.img && options.img.src) {
      options.img.size = options.img.size || 'contain';
      options.img.x = options.img.x || '0px';
      options.img.y = options.img.y || '0px';

      imgStyle = 'background-image: url(\'' + options.img.src + '\'); ' +
                 'background-size: ' + options.img.size + '; '          +
                 'background-position-x: ' + options.img.x + '; '       +
                 'background-position-y: ' + options.img.y + '; '       +
                 'background-repeat: no-repeat;';
    }

    let modes = '';
    for (let i = 0; i < options.modes.length; i++) {
      modes += 'info-block_' + options.modes[i];
      if (i < options.modes.length - 1) {
        modes += ' ';
      }
    }

  .info-block(class=options.classname + " " + modes, style=imgStyle)
    .info-block__content
      block
