mixin search(o)
  -
    o = o || {};
    o.placeholder = o.placeholder || "Search";
    o.notFoundMessage = o.notFoundMessage || "I've not found what I'm looking for...";
    o.color = typeof o.color === "string" ? "search_" + o.color : undefined;

  .search.js-search(class=o.color)
    input.search__input(type="search", data-placeholder=o.placeholder, data-not-found-message=o.notFoundMessage)&attributes(o.attr)
    .search__button
