@require "../colors"

.search
  height 2.333333333rem
  position relative

  &__input
    width 100%
    height 100%
    padding 0 3.75rem 0 1rem
    border none
    background-color $gray
    border-radius 0.25rem

  &__input:focus
    outline none
    box-shadow 0 0 0.166666666rem #000

  &__input::placeholder
    font-size 1.1rem

  &__button
    width 2.75rem
    height 100%
    cursor pointer
    background $diamond url('./assets/search-icon.png') no-repeat center
    background-size 1.166666666rem
    border-radius 0 0.25rem 0.25rem 0
    position absolute
    top 0
    right 0

  &_color_red
    & ^[0]__button
      background-color $red

  &_failed
    & ^[0]__input
      background-color $diamond
      color #fff

    & ^[0]__input::placeholder
      color #fff

  &_failed&_color_red
    & ^[0]__input
      background-color $red
