mixin search(options)
  -
    options = options || {};
    options.placeholder = options.placeholder || "Search";
    options.notFoundMessage = options.notFoundMessage || "I've not found what I'm looking for...";
    options.color = typeof options.color === "string" ? "search_" + options.color : undefined;

  .search.js-search(class=options.color)
    input.search__input(
      type="search",
      data-placeholder=options.placeholder,
      data-not-found-message=options.notFoundMessage
    )&attributes(options.attr)
    .search__button
