mixin toggle(options)
  -
    options = options || {};
    options.color = typeof options.color === "string" ? "toggle_" + options.color : undefined;
    options.checked = typeof options.checked === "boolean" ? options.checked : undefined;

  label.toggle(class=options.color)
    input.toggle__checkbox(type="checkbox", checked=options.checked)
    span.toggle__pseudo-checkbox
      span.toggle__circle
