mixin toggle(options)
  -
    options = options || {};

    const { color, checked } = options;

    let className = "toggle";
    className += color ? ` toggle_color_${color}` : "";

  label(class=className)
    input.toggle__checkbox(type="checkbox", checked=checked)
    span.toggle__pseudo-checkbox
      span.toggle__circle
