- const getFullClassname = htmlWebpackPlugin.options.functions.getFullClassname;

mixin toggle(options)
  -
    options = options || {};

  label(class=getFullClassname('toggle', options.classname, options.modes))
    input.toggle__checkbox(type="checkbox")
    .toggle__pseudo-checkbox
      .toggle__circle
