mixin toggle(o)
  -
    o = o || {};
    o.color = typeof o.color === "string" ? "toggle_" + o.color : undefined;

  label.toggle(class=o.color)
    input.toggle__checkbox(type="checkbox")
    span.toggle__pseudo-checkbox
      span.toggle__circle
