- const getFullClassname = htmlWebpackPlugin.options.functions.getFullClassname;

mixin percentage-circle(options)
  -
    options = options || {};
    options.percent = options.percent || 0;

    if (options.percent < 0) {
      options.percent = 0;
    } else if (options.percent > 100) {
      options.percent = 100;
    }

  div(
    class=getFullClassname('percentage-circle', options.classname, options.modes),
    data-percent=options.percent
  )
