@require "../colors"

.percentage-circle
  width 100%
  height 100%

  &__background-ring
    fill none
    stroke none

  &__tracker
    fill none
    stroke $diamond

  &__percent-text
    fill $dark-gray
    font-size 1.1rem

  &_color_red
    & ^[0]__tracker
      stroke $red
