$color-diamond = #4EB7A8
$color-red = #E75735

.percentage-circle
  @require '../../fonts'

  font-family 'Lato'
  font-size 4.1666rem

  .circle
    stroke $color-diamond

.percentage-circle_red
  .circle
    stroke $color-red
