$color-diamond = #4eb7a8
$color-red = #e75735
$color-percent-text-color = #9d9d9d

.percentage-circle
  width 100%
  height 100%

  &__background-ring
    fill none
    stroke none

  &__tracker
    fill none
    stroke $color-diamond

  &__percent-text
    fill $color-percent-text-color
    font-size 1.1rem

  &_red
    & ^[0]__tracker
      stroke $color-red
