mixin percentage-circle(o)
  -
    o = o || {};
    o.percent = o.percent || 0;
    o.color = typeof o.color === "string" ? "percentage-circle_" + o.color : undefined;

    if (o.percent < 0) {
      o.percent = 0;
    } else if (o.percent > 100) {
      o.percent = 100;
    }

  .percentage-circle.js-percentage-circle(data-percent=o.percent, class=o.color)
