include ../info-block/info-block

mixin news(options)
  -
    options = options || {};

    const { color, image, title, date, text } = options;

  .news
    +info-block({color: color, image: image})
      .news__content
        .news__title=title
        .news__date=date
        .news__text=text
