include ../info-block/info-block

mixin news(options)
  -
    options = options || {};
    options.classname = options.classname ? options.classname + ' news' : 'news';

  +info-block(options)
    .news__title=options.title
    .news__date=options.date
    .news__description=options.description
