include ../info-block/info-block

mixin news(o)
  -
    o = o || {};
    o.infoBlockColor = typeof o.color === "string" ? o.color : undefined;
    o.color = typeof o.color === "string" ? "news_" + o.color : undefined;

  .news(class=o.color)
    +info-block({color: o.infoBlockColor, image: o.image})
      .news__content
        .news__title=o.title
        .news__date=o.date
        .news__text=o.text
