include ../info-block/info-block.pug

mixin news(options)
  -
    options = options || {};
    options.classname = options.classname || '';

  +info-block({classname: 'news ' + options.classname, modes: options.modes, img: options.img})
    .news__title=options.title
    .news__date=options.date
    .news__description=options.description
