doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content="арт, заказать арт, арт на заказ")
    meta(name="description", content="Сайт, где вы можете заказать арт портрет в различной стилистике")
    link(rel="shortcut icon" type="image/x-icon" href="./assets/favicon.ico")
    title ui-kit-project
  body
