@require "../colors"

.map
  display flex
  flex-direction column
  justify-content flex-end
  height 100%
  border-radius 0.25rem
  color #fff

  &__window
    flex-grow 1
    overflow hidden

  &__footer
    height 5.75rem
    display flex
    align-items center
    background-color $diamond
    position relative

  &__title
    margin-right 2.1rem
    margin-left 2.166666666rem
    font-size 2.5rem
    word-spacing -0.166666666rem
    max-width 50%
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  &__address
    width 24%
    font-weight bold
    text-transform uppercase
    letter-spacing 0.083333333rem
    word-spacing 0.083333333rem

  &__buttons
    margin-right 1.583333333rem
    position absolute
    right 0

  &__location-button, &__pin-button
    width 2.5rem
    height 2.5rem
    border none
    cursor pointer

  &__location-button
    background url("./assets/map-sprite.png") no-repeat 0 0
    background-size cover
    margin-right 1.166666666rem

  &__pin-button
    background url("./assets/map-sprite.png") no-repeat -2.5rem 0
    background-size cover

  &_color_red
    & ^[0]__footer
      background-color $red
