- const getFullClassname = htmlWebpackPlugin.options.functions.getFullClassname;

mixin arrow-btn(options)
  -
    options = options || {};

  button(class=getFullClassname('arrow-btn', options.classname, options.modes), type="button")
