@require "../colors"

.slider
  .rangeslider
    height 0.435rem

    &__handle
      width 1.65rem
      height 1.65rem

    &__hint
      font-size 1.1rem
      padding 0.2rem 0.76rem
      height 2rem
      bottom calc(100% + 0.7rem)
      border-radius 0.45rem

    &__hint::after
      content ""
      display block
      background-color $diamond
      width 0.7rem
      height 0.7rem
      position absolute
      left 50%
      transform translateX(-50%) rotate(45deg)
      border-radius 0.2rem

    &__grid
      margin-top 0.7rem

.slider_color_red
  .rangeslider
    &__handle, &__hint, &__hint::after, &__tracker
      background-color $red
