$color-gray = #e5e5e5
$color-diamond = #4eb7a8
$color-red = #e75735

.slider
  .irs
    &-slider, &-slider:hover, &-slider.state_hover, &-bar, &-bar-edge, &-single, &-single::after
      background $color-diamond

    &-bar, &-bar-edge
      border-color $color-diamond

    &-line
      height 0.416666666rem
      background $color-gray
      border none
      border-radius 0.666666666rem

    &-slider
      width 1.666666666rem
      height 1.666666666rem
      border-radius 50%
      border none
      box-shadow none

    &-grid-pol
      display none

    &-grid-text
      font-size 1.166666666rem
      bottom 1.333333333rem

    &-bar, &-bar-edge
      height 0.25rem

    &-single
      padding 0.25rem 0.875rem
      border-radius 0.5rem
      margin-top -0.583333333rem

    &-single::after
      content ""
      width 0.833333333rem
      height 0.833333333rem
      display block
      position absolute
      left 50%
      transform translateX(-50%) rotate(45deg)
      border-radius 0.25rem
      z-index -1
      bottom -0.25rem

  &_red
    .irs
      &-slider, &-slider:hover, &-slider.state_hover, &-bar, &-bar-edge, &-single, &-single::after
        background $color-red

      &-bar, &-bar-edge
        border-color $color-red

  &_non-bar
    .irs
      &-bar, &-bar-edge
        display none
